/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */

#createBusinessPage {
    display: flex;
    justify-content: center;
}

#addBusinessContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
    width: 600px;
}

#bizNameContainer {
    border: dashed #0399BF 2px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: row;
}

.bizNameIcon {
    margin-right: 15px;
}

#bizNameInputContainer {
    display: flex;
    flex-direction: column;
}

#dropZone {
    cursor: pointer;
}

.uploadImgPreviewsContainer {
    display: flex;
    flex-flow: row;
    width: 100px;
}

.uploadImgPreviews {
    border-radius: 16px;
    margin: 5px;
    max-width: 100%;
}

.file-inputs-container {
    align-items: end;
    display: flex;
    justify-content: space-between;
  }

  /*
    As the htmlFor property requires a unique id, here we simply add a 2 to the end of the original id name. Unless you are allowing multiple images, this is not actually necessary.
    One file input could be named anything that you desire. Just note that if you have multiple, they all need different names!
  */

  /* #post-image-input2 {
    visibility: hidden;
  } */

  /*
    As before, we simply style the label as a button
    In this configuration, the button itself will also provide the thumbnail.
  */

  .file-input-labels-noname {
    margin-top: 10px;
    border-radius: 6px;
    color: var(--minimal-border);
    background-color: var(--minimal-background);
    width: 120px;
    height: 120px;
    transition: all 0.3s ease-in-out;
  }

  .file-input-labels-noname:hover {
    cursor: pointer;
  }

  /*
    In this configuration, I've chosen to put the border on the image tag.
  */

  .thumbnails-noname {
    width: 120px;
    height: 120px;
    border: 2px solid var(--minimal-border);
    border-radius: 6px;
  }

.createInputs {
    margin: 10px 0;
    width: 275px;
}

#addressContainer {
    border: dashed #0399BF 2px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

#streetSuiteContainer {
    display: flex;
    flex-direction: row;

}

#countryZipContainer {
    display: flex;
    flex-direction: row;
}

#cityStateContainer {
    display: flex;
    flex-direction: row;
}

#cityContainer {
    display: flex;
    flex-direction: column;
}

#cityInput {
    width: 375px;
}

#stateInput {
    width: 175px;
}

.createDividers {
    border: solid rgb(204, 204, 204) 1px;
}

#phoneContainer {
    border: dashed #0399BF 2px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: row;
}

#phoneIcon {
    margin-right: 15px;
    position: relative;
    top: 15px;
}

#phoneText {
    margin-block-start: 0;
}

#addHoursContainer {
    border: dashed #0399BF 2px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: row;
}

#hoursIcon {
    margin-right: 15px;
    position: relative;
    top: 15px;
}

.dayRangeContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.dayOpenContainer {
    margin-left: 10px;
}

.timeRangeContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.hoursDash {
    position: relative;
    top: 2px;
}

#catPriceContainer {
    border: dashed #0399BF 2px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.createServiceText {
    margin-block-start: 0;
}
