.reviewDetails {
    margin: 25px 0;
}

.reviewer {
    display: inline-flex;
    margin-block-start: 0;
    margin-block-end: 10px;
}

.reviewDate {
    margin: 10px 0;
}

.reviewButtonsContainer {
    display: flex;
    padding: 10px 0;
}

.reviewButtonsContainer > * {
    margin-right: 8px;
}
