#bizPage {
    margin: 0 20%;
    width: 60%;
}

#catContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#catTilesContainer {
    display: grid;
    grid: auto-flow / repeat(4, 1fr);
    width: 85%;
    /* grid-template-columns: repeat(4, 1fr); */
}


#bizTilesContainer {
    justify-self: center;
}

.catTiles {
    align-items: center;
    border: solid 1px rgba(235,235,235,1);
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 183px;
    margin: 40px 20px;
    max-width: 250px;
    min-width: 87px;
    padding: 48px 0;
    width: 90%;
}

.catTiles:hover {
    box-shadow: 0 0 10px #0000001a;
}

#categoryDivider {
    background-color: rgba(235,235,235,1);
    border-bottom: 1px solid rgba(235,235,235,1);
    border-color: rgba(235,235,235,1);
    margin: 10px 0;
}

.biz {
    border-radius: 8px;
}

.biz:hover {
    box-shadow: 0 0 10px #0000001a;
}

.allBizTiles {
    color: black;
    display: flex;
    flex-direction: row;
    height: 271px;
    padding: 24px;
    text-decoration: none;
}

.bizDetailsContainer {
    margin: 0 20px;
}

.bizRatingContainer {
    display: flex;
    margin: 10px 0;
}

.bizStarDisplay {
    margin-right: 10px;
}

.bizReviewCountContainer {
    color: #6E7072;
    margin-left: 10px;
}

.bizCatPriceContainer {
    display: flex;
}

.bizCategoryContainer {
    background-color: #E3E3E3;
    border-radius: 5px;
    color: #6E7072;
    font-weight: semibold;
    padding: 1px 5px;
}

.bizPriceContainer {
    align-self: flex-end;
    color: #6E7072;
    font-size: 13px;
    margin-left: 7px;
    position: relative;
    bottom: 2px;
}

.bizCityContainer {
    margin: 12px 0;
}

.allBizTilesDivider {
    background-color: rgba(235,235,235,1);
    border-bottom: 1px solid rgba(235,235,235,1);
    border-color: rgba(235,235,235,1);
}
