#myBizHeader {
    padding: 0 15px;
}

#myBizTilesContainer {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
}

.myBizTiles {
    border: solid 1px rgba(235,235,235,1);
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    width: 90%;
}

.bizTiles {
    color: black;
    cursor: pointer;
    height: 100%;
    padding: 15px;
    text-decoration: none;
    width: 100%;
}

.myBizImgContainer {
    border-radius: 7px;
    height: 375px;
    overflow-y: hidden;
}

.bizImages {
    min-height: 100%;
    width: 100%;
}

#myBizButtons {
    display: flex;
}

#myBizButtons > * {
    margin-left: 10px;
}

.noBizContent {
    border: 1px rgb(204, 204, 204) solid;
    border-radius: 5px;
}

.noBizContentHeader {
    padding: 0 20px;
}

.noBizContentDivider {
    border-bottom: 1px rgb(204, 204, 204) solid;
}

.noBizContentDetails {
    display: flex;
    flex-flow: row;
    padding: 20px 40px;
}

#noBizLogo{
    width: fit-content;
}

.noBizContentText {
    padding-left: 20px;
}
