.singleBusinessContainer {
    padding: 20px;
}

.bizIcon {
    border-radius: 5px;
    -webkit-user-drag: none;
}

.bizTile {
    color: black;
    text-decoration: none;
}

.businessMainContent > * {
    margin: 10px 0;
}


#writeReviewButtonTextContainer {
    align-items: center;
    display: flex;
}

.writeReviewButtonText {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 0 10px;
}
