#navContainer {
  display: flex;
  justify-content: space-between;
  min-height: 75px;
  overflow: hidden;
}

#rightSideNav {
  /* border: solid black 1px; */
  display: flex;
  flex-direction: row;
}

#webLogo {
  height: 50px;
  position: relative;
  top: 8px;
}

#searchBarContainer {
  bottom: 5px;
  align-self: center;
  position: relative;
  right: 50px;
  min-width: 350px;
  width: 40%;
}

#searchBarDiv{
  border-radius: 5px;
  box-shadow: 0 0 20px #0000001a;
  display: flex;
  height: 48px;
  overflow: hidden;
  width: 100%;
}

#searchInputContainer {
  cursor: text;
  display: flex;
  height: 100%;
  margin-left: 15px;
  min-width: 283px;
  width: 100%;
}

#searchInput {
  align-self: center;
  border: none;
  font-size: 20px;
  height: 25px;
  width: 92%;
}

#searchInput::placeholder {
  font-size: 20px;
}

#searchInput:focus-visible {
  outline: none;
}

#searchBtn {
  background-color: rgba(224,7,7,1);
  border: none;
  color: white;
  cursor: pointer;
  height: 100%;
  transition: background-color 0.8s;
  width: 50px;
}

#searchBtn:hover {
  background-color: #F40D15;
}

#searchIcon {
  position: relative;
  top: 2px;
}

#addBusinessNavBtn{
  color: black;
  font-weight: 550;
  position: relative;
  right: 100px;
  top: 25px;
  text-decoration: none;
}

/* INSIDE PROFILE BUTTON COMPONENT */

#profileBtn {
  position: relative;
  right: 30px;
  top: 15px;
}

#profileIcon {
  color: rgba(224,7,7,1);
  cursor: pointer;
  font-size: 36px;
}

.profile-dropdown {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 20px #0000001a;
  padding: 15px;
  position: fixed;
  max-width: 150px;
  overflow: hidden;
  right: 20px;
  user-select: none;
  z-index: 1;
}

.profileDropdownContent > * {
  margin: 5px 0;
}

/* PROFILE BUTTON COMPONENT END */

#navUserBtns {
  display: flex;
  margin-top: 5px;
}

#signupBtn {
  margin: 0 10px;
}

#navBarDivider {
  border-bottom: 1px rgb(204, 204, 204) solid;
  margin-bottom: 15px;
}
